body, html {
	background-image: url(header.jpg);
	background-size: cover;
	font-family: 'Montserrat', sans-serif;
}

h1 {
	font-family: fantasy;
	font-size: 3em;
	border-bottom: 2px solid pink;
	border-right: 2px solid pink;
	width: 400px;
	text-align: center;
	box-shadow: 4px 4px 5px #888888;
	margin-top: 10px;
}

