/*Selector {
	Property: value;
}*/

body, html {
	background-image: url(header.jpg);
	background-size: cover;
	font-family: 'Montserrat', sans-serif;
}

h1 {
	font-family: fantasy;
	font-size: 3em;
	border-bottom: 2px solid pink;
	border-right: 2px solid pink;
	width: 400px;
	text-align: center;
	box-shadow: 4px 4px 5px #888888;
	margin-top: 10px;
	cursor: pointer;
	color: black;
}

* {
	text-align: right;
}

p {
	color: #AA4139;
	text-align: center;
	border: 5px solid rgb(255, 176, 170, 0.5);
	cursor: pointer;
}

p {
	line-height: 20px;
	font-style: italic;
	font-weight: bold;
	font-size: 110%;
}

img {
	float: right;
}

footer {
	clear: both;
	text-align: center;
}

li {
	list-style: none;
	display: inline-block;
}

.webtext:first-child {
	border: 5px dashed green;
}

#div1 {
	background: rgb(0, 0, 255, 0.2);
}

#div2 {
	background: rgb(255, 0, 0, 0.2);
}